html{
    /* comportamiento del scroll */
    scroll-behavior:smooth;
}


body{
    font-family: sans-serif;
}

h1{
    color: coral;
}


img{
    /* tamaño de imagen */
    max-width: 100%;
    height: auto;
}